# Configurações do Servidor
NODE_ENV=development
PORT=3001

# Configurações do MinIO/S3
MINIO_ENDPOINT=your-minio-endpoint
MINIO_ACCESS_KEY=your-access-key
MINIO_SECRET_KEY=your-secret-key
MINIO_BUCKET=your-bucket-name

# Configurações do MongoDB
MONGODB_URI=mongodb://localhost:27017/fotos-ballet

# Configurações de Autenticação
JWT_SECRET=your-super-secret-jwt-key
GOOGLE_CLIENT_ID=your-google-client-id

# Configurações do Redis
REDIS_URL=redis://localhost:6379 